version: '3.8'

x-airflow-common: &airflow-common
  build: .
  environment: &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: SequentialExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow.db
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW_UID: 50000
    MOTHERDUCK_TOKEN: ${MOTHERDUCK_TOKEN}
    MINIO_ENDPOINT: "http://minio-server:9000"
    MINIO_ACCESS_KEY: "admin"
    MINIO_SECRET_KEY: "password"
  volumes:
    - ./airflow_home_dev/dags:/opt/airflow/dags
    - ./airflow_home_dev:/opt/airflow/airflow_home_dev
    - ./plugins:/opt/airflow/plugins
    - ./airflow.db:/opt/airflow/airflow.db
  user: "${AIRFLOW_UID:-50000}:0"
  networks:
    - data-network

services:
  # --- MINIO ---
  minio:
    image: minio/minio:latest
    container_name: minio-server
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    networks:
      - data-network

  minio-init:
    image: minio/mc
    container_name: minio-setup
    depends_on:
      - minio
    entrypoint: /bin/sh
    networks:
      - data-network
    command:
      - -c
      - |
        until (/usr/bin/mc alias set myminio http://minio-server:9000 admin password) do 
          echo 'Waiting for MinIO...'
          sleep 2
        done
        /usr/bin/mc mb --ignore-existing myminio/bronze
        /usr/bin/mc mb --ignore-existing myminio/silver
        /usr/bin/mc mb --ignore-existing myminio/gold

  # --- METABASE ---
  metabase:
    build:
      context: .
      dockerfile: Metabase.Dockerfile
    container_name: metabase-project
    ports:
      - "3002:3000"
    environment:
      - MB_PLUGINS_DIR=/plugins
      - MB_DB_TYPE=h2
      - MOTHERDUCK_TOKEN=${MOTHERDUCK_TOKEN}
      - MB_DB_FILE_PATH=/tmp/metabase.db 
    volumes:
      - ./plugins:/plugins
    networks:
      - data-network
    depends_on:
      - minio

  # --- AIRFLOW ---
  airflow-init:
    <<: *airflow-common
    container_name: airflow-init
    entrypoint: /bin/bash
    command:
      - -c
      - "airflow db init && airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com"

  airflow-standalone:
    <<: *airflow-common
    container_name: airflow-unified
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      minio-init:
        condition: service_completed_successfully
      # metabase-init removed from here so Airflow can start freely
    ports:
      - "8089:8080"
    command: standalone

networks:
  data-network:
    driver: bridge